{% extends "layout.html" %}

{% block title %}
  Buy
{% endblock %}

{% block main %}
  <h3>Take stock in</h3><br>
  <form name="buy" action="/buy" method="POST">
    <div class="form-group">
      <input class="form-control" id="buy" name="symbol" type="text" placeholder="Symbol">
    </div>
    <div class="form-group">
      <input class="form-control" name="shares" type="number" placeholder="Shares" required>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  
  <script>
    document.querySelector("#buy").value = location.search.substring(1);
  </script>
  
{% endblock %}
